.task {
    margin: 10px 0;
    font-family: sans-serif;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}